<body class="body">

  <div class="navbar w-nav" data-animation="over-left" data-collapse="all" data-duration="400">
    <div class="w-container">
      <a class="w-nav-brand" href="/"><img class="image" height="50" src="https://s3-us-west-2.amazonaws.com/buzatina/lacat/lacat+logo.png">
      </a>
      <nav class="nav-menu-2 w-nav-menu" role="navigation"><a class="nav-link w-nav-link" href="/users/login">Log In</a><a class="nav-link-2 w-nav-link" href="/users/register">Sign Up</a>
      </nav>
      <div class="w-nav-button">
        <div class="icon w-icon-nav-menu"></div>
      </div>
    </div>
  </div>

  <div class="hero-section">
    <div class="container-hero w-container"><img src="images/LACAT-cover.png">
      <div class="div-block-hero">
        <p>_user 'SYMBIOSIS' infrastructure</p>
        <p>_Heuristic evaluations_</p>
        <p>_Ethnographic studies_</p>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="w-container">
      <h1 class="choose h1-hero">Choose LACAT</h1>
      <h3 class="heading-4">Why...</h3>
      <p class="paragraph-4">How Users interact with civil infrastructure/facilities/product is a function of its ability to serve its core function which is to service users. User-friendly, Well maintained and designed infrastructure/facility/Product should have a positive impact on the social, health and financial wellbeing of the users. The cost of ensuring that civil infrastructure/facility/product does service users in a productive, and sustainable manner can escalate in situations where no care is provided or the design/function is not making the lives of intended users easier.</p>
      <div>
        <p class="paragraph-5">When Intent is not aligned with impact, a Gap exists between the civil infrastructure/facility/product and the users.</p>
        <h4 class="heading">The GAP must be minimal to non-existent at all times</h4>
        <div class="row w-row">
          <div class="column w-col w-col-6"><img src="images/lacat-gap1.PNG">
          </div>
          <div class="column-2 w-col w-col-6"><img src="images/lacat-gap2.PNG">
          </div>
        </div>
        <p class="paragraph">_Good Civil Infrastructure/Facility/product=Intent aligned with impact**</p>
      </div>
    </div>
  </div>

  <div class="section what-we-do">
    <div class="container-4 w-container">
      <h1 class="h1-hero">WHAT WE DO</h1>
      <h3 class="heading-2">We Simulate Experience (practically)</h3>
      <p class="paragraph-2">_We assess the relationship between civil infrastructure/Facilities/Products and the users
        <br>_We find you unexpressed user needs and frustrations
        <br>_We help you make informed product/infrastructure changes
        <br>_We bring you the closest to the users
        <br>_How can the facility be better utilised
        <br>_Facility condition and the impact thereof to the users
        <br>_Civil infrastructure monitoring
        <br>_Ergonomics (product user interaction)
        <br>_Process proofing, we immerse ourselves and live in your process and report on all the pain we experienced.</p>
    </div>
  </div>

  <div class="experience-boss section">
    <div class="some-class-boss w-container">
      <h3 class="h3-what-we-do heading-2">OUR APPROACH</h3>
      <p class="p-what-we-do paragraph-2">Each project is different! We do have an approach!!</p>
      <h4 class="heading-6">Prepare</h4>
      <p class="p-what-we-do paragraph-2">Define the project goals and scope. Clarify requirements and constraints before determining overall strategy.</p>
      <h4 class="heading-6">Engage</h4>
      <p class="p-what-we-do paragraph-2">Create and execute an evaluation plan. This can include domain and user research, gathering and organizing requirements, usability analyses of similar products, and discussions with Subject Matter Experts (SMEs).</p>
      <h4 class="heading-6">Analyze</h4>
      <p class="p-what-we-do paragraph-2">Sift through the data, and prioritize findings that can be connected with user and business goals.</p>
      <h4 class="heading-6">Report</h4>
      <p class="p-what-we-do paragraph-2">Present findings with actionable recommendations for stakeholders.</p>
      <h5 class="heading-7"><em class="emphasized-text-2">Making room for good design: intent aligned with impact</em></h5>
    </div>
  </div>

  <div class="experience section what-we-do">
    <div class="container-2 w-container">
      <h1 class="h1-hero">CONTACT US</h1>
      <h3 class="heading-2">When?</h3>
      <p class="paragraph-2">_Scheduled facility/product audits?</p>
      <p class="paragraph-2">_New facility?</p>
      <p class="paragraph-2">_New Products?</p>
      <p class="paragraph-2">_Evaluating the relevance of your existing product?</p>
      <p class="paragraph-2">Anytime because good infrastructure/facility/product works for the user, always…….align intent with impact.</p>
      <p class="email-padding-top paragraph-2">email:</p>
      <p class="margin-just-to-emphasize paragraph-2">andile@lacat.co.za</p>
      <p class="paragraph-2">Mobile:</p>
      <p class="paragraph-2">073 212 3325</p>
      <p class="paragraph-2">We also tweet</p>
      <a class="w-inline-block" href="http://linktotweeterpage"><img src="images/icons8-Twitter-Filled-50-1.png">
      </a>
      <p class="paragraph-2">... and we facebook</p>
      <a class="w-inline-block" href="http://linktofacebook.com"><img src="images/icons8-Facebook-Filled-50.png">
      </a>
    </div>
  </div>

  <div class="footer">
    <div class="container w-container">
      <p class="paragraph-3">Company Reg. 2017/199686/07 &nbsp;&nbsp; &nbsp; &nbsp; LACAT (PTY) Ltd</p>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="https://s3-us-west-2.amazonaws.com/buzatina/lacat/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

</body>